body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

marquee {
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
}

h2 {
	color: navy;
	text-align: center;
}

article p {
	text-align: justify;
	padding: 1rem;
}

.container{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
}
.left-section{
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap:20px;
}

.right-section {
	width: 45%; 
	display: flex;
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	gap: 20px; 
  }
  
  
  h3 {
	margin: 0;
	text-align: center; 
  }
  
  
  article {
	background-color: #f9f9f9;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
  }
  
  
  ul {
	list-style-type: disc;
	padding-left: 20px;
	flex-grow: 1;
	margin: 0;
	overflow-y: auto;
  }
  
  
  li {
	margin: 5px 0;
  }

.callout {
	color: #FFF;
	background-color: #702963;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left
}
