body{
    padding: 5%;
}
table{
    width:400px;
    border: 1px solid black;
    border-collapse: collapse;

    caption{
        caption-side: bottom;
        font-size: smaller;
        padding: 0.5rem;
    }

    th, td{
        padding: 0.5rem 1rem;
        border: 1px solid black;
        white-space: pre;
    }

    thead th, tbody td{
        text-align: center;
    }

    thead{
        color:white;
        background: black;
    

        th{
            padding: 1rem;
            font-size: larger;
        }

        tr:nth-last-child(1) {
            background-color: #333;
        }
    }
    tbody tr:nth-child(even) {
        background-color: #eee;
    }
}

.blank{
    background-color: black;
}

