:root {
    --primary-color: #4CAF50;         
    --secondary-color: #ffffff;
    --text-color: black;            
      
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;    
    font-family: var(--font-family);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

#hero {   
    background-image: url('images/arara-familia-large.webp'); 
    background-repeat: no-repeat; 
    position: behind;
}

#hero img{
    border-radius: 2%;
    margin-top: 1rem;
    box-shadow:  4px 4px 4px 8px gray;
    width: 100%;
    height: auto;
    
}

@media (min-width: 1000px) {
    #hero {
        background-image: url('images/arara-familia-large.webp'); 
    }
}

@media (min-width: 550px) and (max-width: 999px) {
    #hero {
        background-image: url('images/arara-familia-medium.webp'); 
    }
}

@media (max-width: 549px) {
    #hero {
        background-image: url('images/arara-familia-small.webp'); 
    }
} 

.section-box {
    background-color: var(--secondary-color);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

#data {
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
}



#data ul {
    list-style-type: none;
    padding: 0;
}

#data li {
    margin-bottom: 8px;
}

#weather {
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

#weather h2 {
    margin-bottom: 10px;
}

#weather h2::after {
    content: url('images/cloud-sunny-icon.svg'); 
    display: inline-block;
    margin-left: 10px;
}

footer {
    background-color: rgb(61, 60, 60);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

#lastModified{
    font-size:10px;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }
    
    #data {
        font-size: 14px;
    }

    #weather h2 {
        font-size: 1.2rem;
    }
}
