@font-face {
    font-family : 'Roboto';
    font-style : normal;
    font-weight : 400;
    font-display : swap;
    src : url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range : U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

:root {
    --background-color: #01305f;
    --color: #fff;
    --color2: black;
    --background-color2: #d4d7dbeb;
}

body, h1, h2, p, ul, li, button {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {      
    line-height: 1.6;
    background-color: var(--color);
    color: var(--color2);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: var(--background-color);
    color: var(--color);
}

header img {
    height: 120px;
    width: auto;
}

header h1 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    margin: 0;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 0;
}

nav ul.visible {
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #111;
}

#hamburger {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--color);
    cursor: pointer;
    padding: 1rem; 
    width: auto; 
    height: auto; 
    margin: 0; 
}

.background-container {
    position: relative;
    background-image: url('https://www.manseametal.com/cm/dpl/images/articles/28/main/28.jpg');
    background-size: cover;
    background-position: center;   
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
    text-align: center;
    padding: 2rem;
    margin-top: 1%;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.content {
    position: relative;       
    z-index: 1; 
    padding: 2rem;
    background: rgba(5, 5, 5, 0.184); 
    border-radius: 8px; 
    max-width: 800px;    
}

.content h2{
    font-size: 30px;
    padding-bottom: 2rem;   
}

.content p{
    font-size: 18px;
}

h2{
    text-align: center;
    padding: 1rem;
}

.about {   
    display: flex;    
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: rgba(63, 60, 60, 0.9);
    margin-bottom: 1%;
    color: var(--color);
}

.about img{
    display: inline-block;
    width: 200px;
    height: 250px;
    margin-top: 2%;
    border-radius: 8px;
    border:2px solid rgb(11, 11, 11) ;     
}

footer {
    text-align: center;
    background-color: var(--background-color);
    color: var(--color);   
    padding-bottom: 1rem; 
    font-size: 12px;   
}

.instagram-button{
    padding-left: 1rem;   
}

.info{
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-size: 16px;
}

@media screen and (min-width: 1000px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 1rem;
    }   

    #hamburger {
        display: none;
    }
}