:root {
    --background-color: #01305f;
    --color: #fff;
    --color2: black;
    --background-color2: #d4d7dbeb;
}

body, h1, h2, p, ul, li, button {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--color);
    color: var(--color2);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: var(--background-color);
    color: var(--color);
}

header img {
    height: 120px;
    width: auto;
}

header h1 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    margin: 0;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 0;
}

nav ul.visible {
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #111;
}

#hamburger {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--color);
    cursor: pointer;
}

.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 600px; 
    margin: 1rem auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-track {
    width: 100%;
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel img {
    width: 100%; 
    height: auto;    
    object-fit: cover;     
}

.carousel-buttons {
    position: relative;    
    display: flex;
    justify-content: center;
    gap: 3rem;    
}

.carousel-buttons button {
    background: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-buttons button:hover {
    background: rgba(0, 0, 0, 0.9);
}

h2 {
    text-align: center;
    background-color: var(--background-color2);
    color: var(--color2);
    padding: 1rem;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 0.5%;
    margin-bottom:0.5%;    
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    max-width: 1100px;
    width: 100%;
    padding: 10px;
    margin-top: 0%;
    text-align: justify;
}

section {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    background-color: var(--background-color2);
    color: var(--color2);
    text-align: center;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 8px 8px 0 0;    
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

strong {
    font-weight: bold;
    color: var(--color2);
}

footer {
    text-align: center;
    background-color: var(--background-color);
    color: var(--color);
    padding: 3rem 0;
}

#lastModified {
    font-size: 12px;
}

.supermarket, .variety {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 0;
    border-radius: 8px;       
}

.variety {
    margin-bottom: 0.5%;
}


.supermarket img, .variety img {
    border-radius: 8px;  
   
}

@media screen and (min-width: 1000px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 1rem;
    }
    #carousel{
        width: 100%;
        height: auto;
     }
 
     #carousel img{
         object-fit: cover;
     }

    #hamburger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .carousel {
        max-width: 90%;
    }

    .carousel img {
        max-height: 300px; 
    }
}