:root {
    --background-color: #01305f;
    --color: #fff;
    --color2: black;
    --background-color2: #a9c0de79;
}

body, h1, h2, p, ul, li, button {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--color);
    color: var(--color2);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: var(--background-color);
    color: var(--color);
}

header img {
    height: 120px;
    width: auto;
}

header h1 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    margin: 0;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 0;
}

nav ul.visible {
    display: flex;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: #111;
}

#hamburger {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--color);
    cursor: pointer;
}

.carousel {
    overflow: hidden;
    width: 100%;   
    margin: 1rem auto;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel-track {
    width: 100%;
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel img {
    width: 100%; 
    height: auto;    
    object-fit: cover;     
}

.carousel-buttons {       
    display: flex;
    justify-content: center;   
    gap: 3rem;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background: black;
    color: #fff;
    border: none;   
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-buttons button:hover {
    background: rgba(0, 0, 0, 0.9);
}
#carousel1{
    max-width: 700px;
}

#carousel2{
    max-width: 800px;
}

#carousel3{
    max-width: 500px;
}

h2 {
    text-align: center;
    background-color: var(--background-color2);
    color: var(--color2);
    padding: 1rem;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 0.5%;
    margin-bottom:0.5%;    
}

.container{
    display: flex;
    margin-top: 1%;    
}
.advantages, .disadvantages {
    display: block;      
    padding: 1rem;    
    background:var(--background-color2); 
    border-radius: 8px; 
    max-width: 800px;
    max-height: auto;
    border: 1px solid black;
}

h3 {
    background-color:var(--background-color);
    color: var(--color);
    text-align: center;
    padding: 5px;
    margin-top: 0%;    
    border-radius: 8px 8px 0 0;
    border: 2px solid black;   
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

strong {
    font-weight: bold;
    color: var(--color2);
}

footer {
    text-align: center;
    background-color: var(--background-color);
    color: var(--color);    
    font-size: 12px;   
}

.info{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 16px;
}


.supermarket, .variety {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    padding: 0;
    border-radius: 8px;       
}

.variety {
    margin-bottom: 0.5%;
}


.supermarket img, .variety img {
    border-radius: 8px;  
   
}

@media screen and (min-width: 1000px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 1rem;
    }
    #carousel{
        width: 100%;
        height: auto;
     }
 
    #carousel img{
         object-fit: cover;
     }

    #hamburger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #carousel1,#carousel2, #carousel3 {
        max-width: 95%;
    }
    
    .container{
        max-width: 100%;
    }
}